*{
    text-align: center;
}
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: auto; 
    margin-right: auto;
}
header,
nav,
section,
aside,
footer{
    background: #ebebeb;
}
article{
    color: #ebebeb;
    background: #777;
}
h1,
p{
    color: #777;
    background: #ebebeb;
}
.headerItem{
    padding: 20px;
    margin-bottom: 10px;
}
.navItem{
    padding: 20px;
    margin-bottom: 20px;
}
.sectionItem{
    padding: 30px;
    height: 250px;
    width: 495px;
    float: left;
    margin-right: 20px;
}
.asideItem{
    padding: 30px;
    height: 250px;
    width: 325px;
    margin-bottom: 20px;
    float: right;
    clear: both;
}
.footerItem{
    clear: both;
    padding: 20px;
}
.articleItem{
    position: relative;
    padding: 20px;
    height: 181px;
    margin-top: 20px;
    width:495px;
    left:-20px;
    bottom: -8px;
}
.headerItem2{
    color: #777;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    font-weight: bold;
}
.pItem{
    padding: 20px;
    position: relative;
    margin-top: 10px;
}





